body{
    background-image: url("./5bd0c5682c173-wallpaper-preview.jpg" );
    background-repeat: no-repeat;
    background-size: 300% ;
    font-size: larger;
    font-style: oblique;
    color:antiquewhite
    


